.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10rem;
    row-gap: 2rem;
    align-items: center;
}

.content-container img {
    transition: all 0.1s ease-in-out;
    filter: grayscale(100%);
}

.content-container img:hover {
    filter: grayscale(0%);
}

.igg {
    width: 151px;
}

.nintendo {
    width: 240px;
}

.masomo {
    width: 150px;
}

.match-group {
    width: 250px;
}

.nutaku {
    width: 232px;
}

.oasis-games {
    width: 144px;
}

.wildlife {
    width: 199px;
}

.tencent-games {
    width: 248px;
}

.see-all-btn {
    display: block;
    margin: 3rem auto 0;
    border: none;
    text-decoration: underline;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 426px) {
    .content-container {
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-evenly;
        /* gap: 5rem; */
        column-gap: 5rem;
        row-gap: 1.5rem;
    }

    .igg {
        width: 91px;
    }

    .nintendo {
        width: 143px;
    }

    .masomo {
        width: 90px;
    }

    .match-group {
        width: 152px;
    }

    .nutaku {
        width: 139px;
    }

    .oasis-games {
        width: 85px;
    }

    .wildlife {
        width: 119px;
    }

    .tencent-games {
        width: 149px;
    }
}
