.root {
    margin-top: 9rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10rem;
}

.info-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: 509px;
}

.cases-btn {
    border: 1px solid black;
    padding: 2rem 2.4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    transition: all 0.1s linear;
}

.cases-btn:hover {
    cursor: pointer;
    background-color: #fde170;
}

@media screen and (max-width: 426px) {
    .container {
        display: block;
    }

    .image-text {
        width: 354px;
        margin: 4rem auto 0;
    }

    .right-side {
        align-items: center;
        gap: 4rem;
    }

    .right-side a {
        width: 100%;
    }

    .matters-a-lot-text {
        width: 340px;
        margin: 1rem auto 0;
    }

    .info-text {
        width: fit-content;
    }

    .cases-btn {
        width: 100%;
    }
}
