.table-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.table-container__item {
    text-align: center;
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 240px;
}

.table-container__item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.table-container__item__image {
    width: 40px;
}

.table-container__item__title {
    font-size: 2rem;
    line-height: 2.6rem;
    font-family: var(--barracuda);
    text-transform: uppercase;
}

.table-container__item__index-number {
    font-size: 2.4rem;
    font-family: var(--barracuda);
    line-height: 2.6rem;
    text-transform: uppercase;
}

.table-container__item__addition {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.table-container__item__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    display: block;
    width: 80%;
    text-align: right;
    bottom: 3rem;
    right: 3rem;
    cursor: pointer;
}

.cases {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

@media screen and (max-width: 426px) {
    .table-container {
        flex-direction: column;
    }

    .table-container__item {
        width: 100%;
    }
}
