.animated-rect {
    position: relative;
    overflow: hidden;
    width: 426px;
    height: 240px;
}

.animated-rect:hover {
    cursor: pointer;
    z-index: 1;
}

.animated-rect::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 100%;
    background-color: var(--orange);
    transform: translate(-111%, 0%) skew(-25deg);
    transition: all 0.2s ease-in-out;
    will-change: transform;
}

.animated-rect:hover.animated-rect::before {
    transform: translate(-10%, 0%) skew(-15deg);
}

@media screen and (max-width: 426px) {
    .animated-rect {
        width: 100%;
    }

    .animated-rect::before {
        display: none;
    }
}
