@font-face {
    font-family: Poppins;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Barracuda;
    src: url('../../fonts/barracuda/Barracuda-regular.ttf');
    font-weight: 400;
}
