.app-footer {
    margin: 15rem 0 0;
    padding: 3rem 0;
    border-top: 1px solid black;
}

.app-footer__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.app-footer__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.app-footer__copyrights {
    color: #1b1b1b;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

@media screen and (max-width: 426px) {
    .app-footer {
        margin: 11.4rem 0 0;
    }

    .mobile-logo {
        width: 96px;
    }
}
