.cases-page-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}

.logo {
    width: 135px;
}

.cases-page-item__header {
    background-color: var(--grey);
    color: var(--app-background);
    padding: 4.4rem 4rem 3.6rem;
    font-family: var(--barracuda);
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 5.4rem;
    font-weight: 500;
    line-height: 4.8rem;
    box-shadow: 0px 4px 5px 0px #00000040;
}

.divs {
    position: relative;
    margin-top: 0.8rem;
    display: inline-block;
}

.div-container {
    position: absolute;
    padding: 8px;
    box-shadow: 0px 4px 5px 0px #00000040;
    border-radius: 12px;
    z-index: 1;
    background-color: var(--app-background);
}

.div-container__item {
    border-radius: 8px;
    width: 314px;
    height: 172px;
}

.div-container__item_only {
    width: 620px;
    height: auto;
}

.div-container:nth-of-type(2) {
    left: 304px;
    top: 56px;
}

.div-container:nth-of-type(3) {
    left: 0;
    top: 152px;
}

.div-container:nth-of-type(4) {
    left: 304px;
    top: calc(152px + 56px);
}

/* ==== Shorts ==== */
.div-container-shorts {
    position: absolute;
    padding: 8px;
    box-shadow: 0px 4px 5px 0px #00000040;
    border-radius: 12px;
    z-index: 1;
    background-color: var(--app-background);
}

.div-container-shorts:nth-of-type(2) {
    left: 151px;
    top: 80px;
}

.div-container-shorts:nth-of-type(3) {
    left: 302px;
}

.div-container-shorts:nth-of-type(4) {
    left: 453px;
    top: 80px;
}

.div-container-shorts__item {
    border-radius: 8px;
    height: 300px;
    width: 168px;
}

/* ==== Right ==== */
.cases-page-item__right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cases-page-item__right-top {
    display: grid;
    grid-template-columns: 228px 400px;
    gap: 8px;
}

.cases-page-item__right-top-logo {
    width: 228px;
    padding: 1.7rem;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cases-page-item__right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.cases-page-item__right-bottom-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.cases-page-item__right-bottom-features {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cases-page-item__right-bottom-feature-item-title {
    font-size: 5.4rem;
    font-family: var(--barracuda);
    line-height: 4.8rem;
}

.cases-page-item__right-bottom-feature-item-description {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.date-title {
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: var(--barracuda);
    text-transform: uppercase;
}

@media screen and (max-width: 425px) {
    .cases-page-item {
        display: flex;
        flex-direction: column;
    }

    .cases-page-item__header {
        font-size: 4rem;
    }
    
    .cases-page-item__right {
        flex-direction: column;
    }

    .cases-page-item__right-bottom {
        display: flex;
        flex-direction: column;
    }
}
