.cases-list {
    list-style: none;
}

.link {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 2.4rem;
    border: 1px solid black;
    width: 400px;
    margin-top: 3rem;
    transition: all 0.1s ease-in-out;
}

.link button {
    background-color: transparent;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    background-color: #fde170;
}

@media screen and (max-width: 426px) {
    .link {
        width: 100%;
        margin-top: 4rem;
    }
}
