* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html,
body,
#root {
    height: 100%;
}

#root {
    min-height: 100vh;
}

body {
    background-color: var(--app-background);
    position: relative;
    height: max-content;
    min-height: 100vh;
    overflow-y: scroll;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('../public/assets/background-2.jpg') repeat-y;
    z-index: -1;
    height: 100%;
    width: 1280px;
    filter: blur(60px);
}

:root {
    /* Dimensions */
    --app-width: 1280px;
    --mobile-app-width: 390px;
    /* --mobile-app-width: 425px; */

    /* Colors */
    --app-background: #fffdf2;
    --grey-2: #4f4f4f;
    --orange: #fde170;

    /* Fonts */
    --poppins: Poppins, sans-serif;
    --barracuda: Barracuda, sans-serif;
}

.app-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

#root {
    min-width: var(--app-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 426px) {
    body::before {
        width: 390px;
        /* background-size: cover; */
    }

    #root {
        min-width: var(--mobile-app-width);
    }
}
